.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:60px;
    margin-right: 10px;
}
.nav{
    border:2px solid black;
    margin-right: 10px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
a{
    color:black;
    text-decoration:none;
}
button{
    border: none;
    height: 30px;
    background-image: url(sort.jpg);
    background-size: 100% 200%;
}
select{
    height: 30px;
    background-image: url(sort.jpg);
    background-size: 100% 200%;
}
#container{
    height:200px;
    display:flex;
    align-items:flex-end;
}
body{
    background-image:url(sort.jpg);
    background-size: 100% 200%;
    display:flex;
    align-items:center;
    flex-direction:column;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
.bar{
    width:10px;
}
