.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height:30px;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 30px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.navbar-title {
  font-size: 50px;
  font-weight: bolder;
}

.btn {
  margin: 0 10px;
  padding: 8px 16px;
  background-color:cornsilk;
  color: black;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color:lavenderblush;
}

.dropdown {
  margin: 0 10px;
  padding: 8px 16px;
  background-color:cornsilk;
  color: black;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.dropdown:hover {
  background-color:lavenderblush;
}
